<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if description %}<meta name="description" content="{{ description }}">{% endif %}
    
    <title>{% if title %}{{ title }} - {% endif %}Persona Clix{% if title %}{% else %} - Provider of Premium Hosting Services{% endif %}</title>
    
    {% include 'stylesheets.njk' %}
  </head>
  
  <body>
    {% include 'header.njk' %}
    
    {% include 'content.njk' %}
    
    {% include 'footer.njk' %}
    
    {% include 'javascripts.njk' %}
  </body>
</html>
