    <footer class="site-footer">
      <div class="container">
        <div class="column">
          <div class="logo">
            <a href="index.html">
              <img src="https://images.staticly.cc/logos/personaclix_pcdh_logo_light.png" alt="Persona Clix Logo (Light)">
            </a>
          </div>
          <p class="big">Provider of Premium Hosting Services</p>
          <p>Copyright &copy; <a href="https://davidhunter.cc" target="_blank">David Hunter</a> 2016 - 2022</p>
        </div>
        <div class="column">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="webhosting.html">Web Hosting</a></li>
            <li><a href="vps.html">VPS Hosting</a></li>
            <li><a href="why.html">Why?</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="about.html">About</a></li>
            <li><a href="https://client.personaclix.com/knowledgebase" target="_blank" rel="nofollow">Knowledgebase</a></li>
            <li><a href="https://client.personaclix.com/" target="_blank" rel="nofollow">Account</a></li>
            <li><a href="contact.html" class="button">Contact</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="https://www.youtube.com/personaclixofficial" target="_blank" rel="nofollow">YouTube Channel</a></li>
            <li><a href="https://twitter.com/personaclix" target="_blank" rel="nofollow">Follow on Twitter</a></li>
            <li><a href="https://stats.uptimerobot.com/Pj0PJi04RR" target="_blank" rel="nofollow">Service Uptime</a></li>
            <li><a href="https://personaclix.wordpress.com" target="_blank">Blog</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {% include 'javascripts.njk' %}
