    <footer class="site-footer">
      <div class="container">
        <div class="column">
          <div class="logo">
            <a href="/">
              <img src="{{ logos_url }}/personaclix_pcdh_logo_light.png" alt="Persona Clix Logo (Light)">
            </a>
          </div>
          <p class="big">{{ site_tagline }}</p>
          <p>Copyright &copy; <a href="{{ site_owner_url }}" target="_blank">{{ site_owner }}</a> {{ launch_year }} - {{ current_year }}</p>
        </div>
        <div class="column">
          <ul>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="/contact" class="button">Contact</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="https://www.youtube.com/personaclixofficial" target="_blank" rel="nofollow">YouTube Channel</a></li>
            <li><a href="https://github.com/DavidHunterScot/PersonaClix" target="_blank" rel="nofollow">Source Code on GitHub</a></li>
            <li><a href="https://stats.uptimerobot.com/Pj0PJi04RR" target="_blank" rel="nofollow">Service Uptime</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {% include 'javascripts.njk' %}
