    <footer class="site-footer">
      <div class="container">
        <div class="column">
          <div class="logo">
            <a href="/">
              <img src="{{ logos_url }}/personaclix_pcdh_logo_light.png" alt="Persona Clix Logo (Light)">
            </a>
          </div>
          <p class="big">Provider of Premium Hosting Services</p>
          <p>Copyright &copy; <a href="https://davidhunter.scot" target="_blank">David Hunter</a> 2016 - 2022</p>
        </div>
        <div class="column">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/webhosting">Web Hosting</a></li>
            <li><a href="/vps">VPS Hosting</a></li>
            <li><a href="/why">Why?</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="{{ client_url }}/knowledgebase" target="_blank" rel="nofollow">Knowledgebase</a></li>
            <li><a href="{{ client_url }}/" target="_blank" rel="nofollow">Account</a></li>
            <li><a href="/contact" class="button">Contact</a></li>
          </ul>
        </div>
        <div class="column">
          <ul>
            <li><a href="https://www.youtube.com/personaclixofficial" target="_blank" rel="nofollow">YouTube Channel</a></li>
            <li><a href="https://github.com/DavidHunterScot/PersonaClix" target="_blank" rel="nofollow">Source Code on GitHub</a></li>
            <li><a href="https://stats.uptimerobot.com/Pj0PJi04RR" target="_blank" rel="nofollow">Service Uptime</a></li>
          </ul>
        </div>
      </div>
    </footer>

    {% include 'javascripts.njk' %}
