    <nav class="top-nav">
      <div class="container">
        <input type="checkbox" id="top-nav-toggle" class="nav-toggle">
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="{{ client_url }}/knowledgebase" target="_blank" rel="nofollow">Knowledgebase</a></li>
          <li><a href="{{ client_url }}/" target="_blank" rel="nofollow">Account</a></li>
          <li><a href="/contact" class="button">Contact</a></li>
        </ul>
        <label for="top-nav-toggle" class="nav-toggle-label"><span></span></label>
      </div>
    </nav>

    <header class="site-header">
      <div class="container">
        <div class="logo">
          <a href="/"><img src="{{ logos_url }}/personaclix_pcdh_logo_dark.png" alt="Persona Clix Logo (Dark)"></a>
        </div>
                
        <div class="navbar">
          <input type="checkbox" id="main-nav-toggle" class="nav-toggle">
          <ul>
            <li><a href="/"{% if page.url == "/" %} class="current"{% endif %}>Home</a></li>
            <li><a href="/webhosting"{% if page.url.substr( 0, 12 ) == "/webhosting/" %} class="current"{% endif %}>Web Hosting</a></li>
            <li><a href="/vps"{% if page.url.substr( 0, 5 ) == "/vps/" %} class="current"{% endif %}>VPS Hosting</a></li>
            <li><a href="/why"{% if page.url.substr( 0, 5 ) == "/why/" %} class="current"{% endif %}>Why?</a></li>
          </ul>
          <label for="main-nav-toggle" class="nav-toggle-label"><span></span></label>
        </div>
      </div>
    </header>

    {% if hero %}
    <section class="hero{% if hero.class %} {{ hero.class }}{% endif %}">
      <div class="container"{% if hero.background_image %} style="background-image: url('{{ hero.background_image }}');"{% endif %}>
        <div class="info">
          {% if hero.title %}
            <h1>{{ hero.title }}</h1>
          {% endif %}

          {% if hero.description %}
            <p>{{ hero.description }}</p>
          {% endif %}

          {% if hero.list %}
            <ul{% if hero.list_icon %} style="list-style-image: url('{{ ui_url }}/{{ hero.list_icon }}.png')"{% endif %}>
              {% for list_item in hero.list %}
                <li>{{ list_item }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          {% if hero.button %}
            <div class="button-price">
              <div class="button">
                <a href="{{ hero.button.href }}">{{ hero.button.text }}</a>
              </div>
              {% if hero.price %}
              <div class="price" style="background-image: url('{{ ui_url }}/swirl.png');">
                {{ hero.price.text }} <b>{{ hero.price.amount }}</b>
              </div>
              {% endif %}
            </div>
          {% endif %}
        </div>

        <div class="promo-image">
          {% if hero.promo_image %}
          <img src="{{ icons_url }}/{{ hero.promo_image.filename }}.svg" alt="{{ hero.promo_image.alt }} Icon">
          {% endif %}
        </div>

        {% if hero.recommendedby %}
        <div class="recommendedby">
          Recommended by <b><a href="{{ hero.recommendedby.url }}" target="_blank" rel="nofollow">{{ hero.recommendedby.name }}</a></b>
        </div>
        {% endif %}
      </div>
    </section>
    {% endif %}
