    {%
      set reasons =
      [
        {
          'icon':
          {
            'filename': 'green-leaf',
            'alt': 'Green Leaf'
          },
          'info':
          {
            'title': '100% Green Hosting',
            'description':
            [
              'Our hosting services use 100% renewable energy from sources like the Sun, Wind, and Sea.'
            ]
          }
        },
        {
          'icon':
          {
            'filename': 'orange-shield',
            'alt': 'Orange Shield'
          },
          'info':
          {
            'title': 'DDoS Protection',
            'description':
            [
              'Distributed Denial of Service attacks are extremely common these days. They pose a significant threat to any online service.',
              'You can rest assured that your service will be protected and will remain online.'
            ]
          }
        },
        {
          'icon':
          {
            'filename': 'servers-2',
            'alt': 'Servers'
          },
          'info':
          {
            'title': 'Reliable Servers',
            'description':
            [
              'Our servers utilise a multi-carrier network with the best routing technologies to ensure fast worldwide content delivery.'
            ]
          }
        }
      ]
    %}
    
    <section class="why section">
      <div class="container">
        <h2>Why Persona Clix?</h2>
        <p>You should choose Persona Clix because...</p>
        <div class="reasons">
          {% for reason in reasons %}
            <div class="reason">
              <div class="icon">
                <img src="{{ icons_url }}/{{ reason.icon.filename }}.svg" alt="{{ reason.icon.alt }} Icon">
              </div>
              <div class="info">
                <h3>{{ reason.info.title }}</h3>
                {% for line in reason.info.description %}
                  <p class="description">{{ line }}</p>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
