    <section class="why section">
      <div class="container">
        <h2>Why Persona Clix?</h2>
        <p>You should choose Persona Clix because...</p>
        <div class="reasons">
          <div class="reason">
            <div class="icon">
              <img src="https://images.staticly.cc/icons/green-leaf.svg" alt="Green Leaf Icon">
            </div>
            <div class="info">
              <h3>100% Green Hosting</h3>
              <p class="description">Our hosting services use 100% renewable energy from sources like the Sun, Wind, and Sea.</p>
            </div>
          </div>
          <div class="reason">
            <div class="icon">
              <img src="https://images.staticly.cc/icons/orange-shield.svg" alt="Orange Shield Icon">
            </div>
            <div class="info">
              <h3>DDoS Protection</h3>
              <p class="description">Distributed Denial of Service attacks are extremely common these days. They pose a significant threat to any online service.</p>
              <p class="description">You can rest assured that your service will be protected and will remain online.</p>
            </div>
          </div>
          <div class="reason">
            <div class="icon">
              <img src="https://images.staticly.cc/icons/servers-2.svg" alt="Servers Icon Icon">
            </div>
            <div class="info">
              <h3>Reliable Servers</h3>
              <p class="description">Our servers utilise a multi-carrier network with the best routing technologies to ensure fast worldwide content delivery.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
