/*
  MAIN STYLESHEET FILE - main.css
  Contains the styling for the main site design, layout, and content.
*/

*,
*::before,
*::after
{
    box-sizing: border-box;
}

html,
body
{
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

img
{
    max-width: 100%;
}

a
{
    color: #000000;
    font-weight: 700;
}

.container
{
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem;
}

header
{
    text-transform: uppercase;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

header h1
{
    max-width: 200px;
    margin: 0;
    padding: 0;
}

header nav
{
    display: flex;
    text-align: center;
}

header nav a
{
    font-weight: normal;
    text-decoration: none;
}

header.top
{
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

header.top nav a
{
    padding: 16px;
}

header.main
{
    font-size: 14px;
}

header.main h1 a
{
    background-image: url( "/assets/images/logos/personaclix_pcdh_logo_dark.png" );
    background-size: cover;
    width: 200px;
    height: 53px;
    display: inline-block;
}

header.main nav a
{
    padding: 16px;
}

header.main nav a:hover
{
    color: #23539b;
}

header.main nav a.current
{
    font-weight: bold;
    color: #23539b;
}

.hero
{
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #888;
    box-shadow: inset 0 0 8px #333;
    color: #ffffff;
}

.hero .title
{
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #000;
}

.hero .subtitle
{
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px #000;
}

section
{
    background-color: #ffffff;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

section.alt
{
    background-color: #eeeeee;
}

footer
{
    background-color: #fff;
    color: #333;
}

footer.main
{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

footer.bottom
{
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 0.8rem;
    color: #888;
}

footer.main .container
{
    display: flex;
    flex-direction: column;
}

footer .logo
{
    max-width: 200px;
}

footer nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

footer nav a
{
    font-size: 0.9rem;
    font-weight: normal;
    text-decoration: none;
    color: #333;
}

footer nav a:hover
{
    color: #000;
}

.servers .server
{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 0.8rem;
    border: 1px solid transparent;
    color: #444;
    display: flex;
    flex-direction: column;
}

.servers .server .info .title .badge
{
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    font-family: monospace;
    vertical-align: middle;
}

.servers .server .info .title .badge.internal
{
    background-color: lightgreen;
    color: black;
}

.servers .server .info .title .badge.external
{
    background-color: lightskyblue;
    color: black;
}

.servers .server .info .hostname
{
    font-family: monospace;
}

section .servers .server
{
    background-color: #eee;
    border-color: #ccc;
}

section.alt .servers .server
{
    background-color: #ddd;
    border-color: #bbb;
}

.server .options
{
    margin-top: 1rem;
}

.server .options a
{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: normal;
    text-decoration: none;
    font-size: 0.8rem;
}

.server .options a.cpanel
{
    background-color: chocolate;
    color: #ddd;
}

.server .options a.cpanel:hover
{
    box-shadow: 0 0 1rem chocolate;
    color: #fff;
}

.server .options a.webmail
{
    background-color: #4d6066;
    color: #ddd;
}

.server .options a.webmail:hover
{
    box-shadow: 0 0 1rem #4d6066;
    color: #fff;
}

.show-light-mode
{
    display: block;
}

.hide-light-mode
{
    display: none;
}

@media ( min-width: 800px )
{
    header .container,
    footer.main .container
    {
        flex-direction: row;
    }

    footer.main
    {
        text-align: left;
    }

    footer nav
    {
        margin-left: 12rem;
        align-items: initial;
    }

    .servers .server
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .server .options
    {
        margin-top: 0;
    }
}

@media ( prefers-color-scheme: dark )
{
    html,
    body
    {
        background-color: #222;
        color: #ddd;
    }

    a
    {
        color: #fff;
    }

    header.top
    {
        border-bottom-color: #444;
    }

    header.main h1 a
    {
        background-image: url( "/assets/images/logos/personaclix_pcdh_logo_light.png" );
    }

    header.main nav a:hover,
    header.main nav a.current
    {
        color: #659beb;
    }

    .hero
    {
        background-color: #444;
    }

    section
    {
        background-color: #222;
    }

    section.alt
    {
        background-color: #333;
    }

    footer
    {
        background-color: #222;
        color: #ddd;
    }

    footer nav a
    {
        color: #ddd;
    }

    footer nav a:hover
    {
        color: #fff;
    }

    footer.bottom
    {
        border-top-color: #444;
    }

    .servers .server
    {
        background-color: #444;
        border-color: #222;
        color: #ddd;
    }

    section .servers .server
    {
        background-color: #333;
        border-color: #111;
        color: #ddd;
    }

    section.alt .servers .server
    {
        background-color: #444;
        border-color: #222;
        color: #fff;
    }

    .servers .server .info .title .badge.internal
    {
        background-color: green;
        color: white;
    }

    .servers .server .info .title .badge.external
    {
        background-color: royalblue;
        color: white;
    }

    .show-dark-mode
    {
        display: block;
    }

    .hide-dark-mode
    {
        display: none;
    }
}