---
title: About
description: Our Mission, To Do The Right Thing!
layout: "base.njk"
---

    <section class="hero">
      <div class="container">
        <div class="info">
          <p>About Persona Clix</p>
        </div>
      </div>
    </section>
        
    <section class="mission section">
      <div class="container">
        <h2>Our Mission</h2>
        <p>To do the right thing!</p>
        <hr>
          
        <div class="statement">
          <div class="icon">
            <img src="https://images.staticly.cc/icons/thumbs-up-light-skin-tone.svg" alt="Thumbs Up Light Skin Tone Icon">
          </div>
                  
          <div class="text">
            <p><b>Doing business should be about doing the right thing by the client/customer, not making money.</b></p>
            <p>Granted, we are in it for the money too, but the money is of less importance, the client/customer comes first.</p>
            <p>Too many other providers put profit over the ones giving them that profit, and this has to stop!</p>
            <p>It's very true that you can do almost anything with the right amount of money, and this is something our competitors have learned. The ones with the bigger pockets buy out the smaller guys when they struggle, and then the customer/client doesn't actually know who the actual provider is.</p>
          </div>
        </div>
          
        <div class="statement">
          <div class="icon">
            <img src="https://images.staticly.cc/icons/pounds-money-bill-in-a-hand.svg" alt="Pounds Money Bill in a Hand Icon">
          </div>
                  
          <div class="text">
            <p><b>Persona Clix will Never be Sold!</b></p>
            <p>I have spent too long building a brand and a quality service to let it fall into the hands of someone with big pockets. If the service gets to a point where it struggles, we will tell you about it, and would rather close down than sell.</p>
          </div>
        </div>
          
        <div class="statement">
          <div class="icon">
            <img src="https://images.staticly.cc/icons/complete-ok-accept-good-tick.svg" alt="Good Tick Icon">
          </div>
          
          <div class="text">
            <p><b>Persona Clix will Always be Honest!</b></p>
            <p>Our competitors would rather read from a script whenever you ask a question, and blame the customer or other systems to hide the mistakes they make themselves.</p>
            <p>We believe in always giving care and attention into every response given to a client, and do our best to ensure the client has as many facts as possible to help them make an informed decision. Sometimes things do go wrong, and should that happen and it affects you, we will hold our hands up and apologise and do our best to put it right.</p>
            <p>The price you pay will not be the cheapest or most expensive you can find, but what we believe is a fair and honest price.</p>
          </div>
        </div>
          
        <div class="statement">
          <div class="icon">
            <img src="https://images.staticly.cc/icons/contract.svg" alt="Contract Icon">
          </div>
          
          <div class="text">
            <p><b>Persona Clix will Never Tie You In!</b></p>
            <p>Part of the reason some of our competitors have such large pockets is because they legally prevent their customers from leaving once signed up because they signed a contract with a minimum duration.</p>
            <p>When you sign up to a service from Persona Clix, there is no contract, meaning you are free to leave whenever you want, and as an added bonus, you do not even need to give notice or reason. Depending on the situation, you may also be entitled to a refund.</p>
          </div>
        </div>
          
        <div class="author">
          <div class="avatar">
            <img src="https://images.staticly.cc/avatars/davidhunter_illustration_transparent_1.png" alt="David Hunter Avatar Image">
          </div>
              
          <div class="text">
            <div class="name">David Hunter</div>
            <div class="title">Creator of Persona Clix</div>
          </div>
        </div>
      </div>
    </section>

    {% include 'why.njk' %}
