---
title: Contact Us
description: No need to be shy, come and say hello.
layout: "base.njk"
---

    <section class="contact hero">
      <div class="container">
        <div class="info">
          <h1>Contact Us</h1>
          <p>Get in touch today!</p>
        </div>
      </div>
    </section>
        
    <section class="contact section">
      <div class="container">
        <h2>What is the nature of your message?</h2>
            
        <div class="methods">
          <div class="method">
            <div class="icon">
              <img src="https://images.staticly.cc/icons/chat.svg" alt="Chat Icon">
            </div>
            
            <div class="button">
              <a href="https://client.personaclix.com/contact.php" target="_blank">Pre-Sales</a>
            </div>
          </div>
            
          <div class="method">
            <div class="icon">
              <img src="https://images.staticly.cc/icons/help.svg" alt="Help Icon">
            </div>
            
            <div class="button">
              <a href="https://client.personaclix.com/submitticket.php" target="_blank">Support</a>
            </div>
          </div>
            
          <div class="method">
            <div class="icon">
              <img src="https://images.staticly.cc/avatars/davidhunter_illustration_transparent_1.png" alt="David Hunter Illustration">
            </div>
            
            <div class="button">
              <a href="mailto:david.hunter@personaclix.com" target="_blank">David Hunter</a>
            </div>
          </div>
        </div>
      </div>
    </section>
