---
description: Welcome to Persona Clix, Provider of Premium Hosting Services - Get Started Today for £1!
layout: "base.njk"
---

    <section class="hero home">
      <div class="container">
        <div class="info">
          <h1>Welcome to Persona Clix</h1>
          <p>Provider of Premium Hosting Services</p>
          <ul style="list-style-image: url('https://images.staticly.ict.rocks/ui/cloud_white.png')">
            <li>Web Hosting</li>
            <li>VPS Hosting</li>
          </ul>
          <div class="button-price">
            <div class="button">
              <a href="#services">View More</a>
            </div>
          </div>
        </div>

        <div class="promo-image"></div>

        <div class="recommendedby">Recommended by <b><a href="https://www.taramckale.ict.rocks" target="_blank" rel="nofollow">Tara McKale</a></b></div>
      </div>
    </section>

    <section class="services section">
      <div class="container">
        <a name="services"></a>
        <h2>Hosting Services</h2>
        <p>For Your Next Project</p>
        <div class="services">
          <div class="service">
            <div class="icon">
              <img src="https://images.staticly.cc/icons/hosting.svg" alt="Hosting Icon">
            </div>
            <h3>Web Hosting</h3>
            <ul>
              <li><b>Generous</b> Web Space</li>
              <li><b>Unlimited</b> Data Transfer</li>
              <li><b>Free</b> Email Hosting</li>
              <li><b>Daily</b> Off-Site Backups</li>
              <li><b>Free</b> SSL Certificates</li>
              <li><b>Fully Redundant</b> Servers</li>
            </ul>
            <p class="button"><a href="/webhosting">Find Out More</a></p>
          </div>
          <div class="service">
            <div class="icon">
              <img src="https://images.staticly.cc/icons/cloud-servers.svg" alt="Cloud Servers Icon">
            </div>
            <h3>VPS Hosting</h3>
            <ul>
              <li><b>NVMe</b> Storage</li>
              <li><b>Generous</b> Data Transfer Allowance</li>
              <li><b>1 Gbps</b> Network Speed</li>
              <li><b>Linux</b> Operating System</li>
              <li><b>Fully Redundant</b> Infrastructure</li>
            </ul>
            <p class="button"><a href="/vps">Find Out More</a></p>
          </div>
        </div>
      </div>
    </section>

    {% include 'why.njk' %}
