---
title: Premium VPS Hosting
description: Premium VPS Hosting. Ultra Redundant Virtual Private Servers.
layout: "base.njk"
hero:
  class: 'vps premium'
  title: 'Premium VPS Hosting'
  description: 'Ultra Redundant Virtual Private Servers'
  button:
    href: '#packages'
    text: 'View More'
  price:
    text: 'From just'
    amount: '£16.99'
  promo_image:
    filename: 'cloud-servers'
    alt: 'Cloud Servers'
---
        
    {%
      set packages =
      [
        {
          'title': 'VPS-1',
          'specs':
          [
            {
              'value': '1',
              'name': 'vCPU Cores'
            },
            {
              'value': '1 GB',
              'name': 'RAM'
            },
            {
              'value': '10 GB',
              'name': 'NVMe SSD'
            },
            {
              'value': '100 GB',
              'name': 'Data Transfer'
            },
            {
              'value': 'Linux',
              'name': 'Operating System'
            }
          ],
          'store_url': 'vps-1',
          'price':
          {
            'amount': '£16.99',
            'frequency': 'month'
          }
        },
        {
          'title': 'VPS-3',
          'specs':
          [
            {
              'value': '1',
              'name': 'vCPU Cores'
            },
            {
              'value': '3 GB',
              'name': 'RAM'
            },
            {
              'value': '25 GB',
              'name': 'NVMe SSD'
            },
            {
              'value': '1 TB',
              'name': 'Data Transfer'
            },
            {
              'value': 'Linux',
              'name': 'Operating System'
            }
          ],
          'store_url': 'vps-3',
          'price':
          {
            'amount': '£21.99',
            'frequency': 'month'
          }
        },
        {
          'title': 'VPS-6',
          'specs':
          [
            {
              'value': '2',
              'name': 'vCPU Cores'
            },
            {
              'value': '6 GB',
              'name': 'RAM'
            },
            {
              'value': '50 GB',
              'name': 'NVMe SSD'
            },
            {
              'value': '1 TB',
              'name': 'Data Transfer'
            },
            {
              'value': 'Linux',
              'name': 'Operating System'
            }
          ],
          'store_url': 'vps-6',
          'price':
          {
            'amount': '£37.99',
            'frequency': 'month'
          }
        },
        {
          'title': 'VPS-12',
          'specs':
          [
            {
              'value': '4',
              'name': 'vCPU Cores'
            },
            {
              'value': '12 GB',
              'name': 'RAM'
            },
            {
              'value': '100 GB',
              'name': 'NVMe SSD'
            },
            {
              'value': '1 TB',
              'name': 'Data Transfer'
            },
            {
              'value': 'Linux',
              'name': 'Operating System'
            }
          ],
          'store_url': 'vps-12',
          'price':
          {
            'amount': '£69.99',
            'frequency': 'month'
          }
        },
        {
          'title': 'VPS-18',
          'specs':
          [
            {
              'value': '6',
              'name': 'vCPU Cores'
            },
            {
              'value': '18 GB',
              'name': 'RAM'
            },
            {
              'value': '150 GB',
              'name': 'NVMe SSD'
            },
            {
              'value': '1 TB',
              'name': 'Data Transfer'
            },
            {
              'value': 'Linux',
              'name': 'Operating System'
            }
          ],
          'store_url': 'vps-18',
          'price':
          {
            'amount': '£100.99',
            'frequency': 'month'
          }
        },
        {
          'title': 'VPS-24',
          'specs':
          [
            {
              'value': '8',
              'name': 'vCPU Cores'
            },
            {
              'value': '24 GB',
              'name': 'RAM'
            },
            {
              'value': '200 GB',
              'name': 'NVMe SSD'
            },
            {
              'value': '1 TB',
              'name': 'Data Transfer'
            },
            {
              'value': 'Linux',
              'name': 'Operating System'
            }
          ],
          'store_url': 'vps-24',
          'price':
          {
            'amount': '£133.99',
            'frequency': 'month'
          }
        },
        {
          'title': 'VPS-36',
          'specs':
          [
            {
              'value': '12',
              'name': 'vCPU Cores'
            },
            {
              'value': '36 GB',
              'name': 'RAM'
            },
            {
              'value': '300 GB',
              'name': 'NVMe SSD'
            },
            {
              'value': '1 TB',
              'name': 'Data Transfer'
            },
            {
              'value': 'Linux',
              'name': 'Operating System'
            }
          ],
          'store_url': 'vps-36',
          'price':
          {
            'amount': '£195.99',
            'frequency': 'month'
          }
        },
        {
          'title': 'VPS-48',
          'specs':
          [
            {
              'value': '16',
              'name': 'vCPU Cores'
            },
            {
              'value': '48 GB',
              'name': 'RAM'
            },
            {
              'value': '400 GB',
              'name': 'NVMe SSD'
            },
            {
              'value': '1 TB',
              'name': 'Data Transfer'
            },
            {
              'value': 'Linux',
              'name': 'Operating System'
            }
          ],
          'store_url': 'vps-48',
          'price':
          {
            'amount': '£259.99',
            'frequency': 'month'
          }
        }
      ]
    %}
    
    <section class="packages section">
      <div class="container">
        <a name="packages"></a>
        <h2>Packages</h2>
            
        <div class="packages">
          {% for package in packages %}
          <div class="package">
            <div class="title">{{ package.title }}</div>
                        
            <div class="specs">
              {% for spec in package.specs %}
              <div class="spec"><b>{{ spec.value }}</b> {{ spec.name }}</div>
              {% endfor %}
            </div>
          
            <div class="order button"><a href="{{ client_url }}/store/vps/{{ package.store_url }}" target="_blank">Order</a></div>
            <div class="price"><b>{{ package.price.amount }}</b> per {{ package.price.frequency }}</div>
          </div>
          {% endfor %}
        </div>
        <p><b>Scroll down to see more features and information.</b></p>
      </div>
    </section>
    
    {%
      set features =
      [
        {
          'icon':
          {
            'filename': 'amd_epyc',
            'alt': 'AMD EPYC'
          },
          'title': 'EPYC 2 CPUs',
          'description': 'Industry Leading, High-Frequency, and Capable of the most Strenuous Workloads.'
        },
        {
          'icon':
          {
            'filename': 'cloud-computing-servers',
            'alt': 'Cloud Computing Servers'
          },
          'title': 'Triple Replicated',
          'description': 'A copy of the VPS data is replicated across three physically separate servers, offering better protection against data loss versus RAID.'
        },
        {
          'icon':
          {
            'filename': 'time-1',
            'alt': 'Time'
          },
          'title': 'High Availability',
          'description': 'Backed by a redundant infrastructure, your vital compute resources are available when you need them.'
        },
        {
          'icon':
          {
            'filename': 'global-connection',
            'alt': 'Global Connection'
          },
          'title': 'Global Connectivity',
          'description': 'Multiple major networks and internet exchanges ensure your virtual infrastructure reaches all corners of the globe with the best speeds possible.'
        },
        {
          'icon':
          {
            'filename': 'protect',
            'alt': 'Protect'
          },
          'title': 'High Speed Networking',
          'description': 'Virtual Machines have a network connection speed of 1 Gbps with DDoS Protection well in excess of 1 Tbps, ensuring fast connectivity for all legitimate traffic.'
        }
      ]
    %}

    <section class="features section">
      <div class="container">
        <h2>Included Features</h2>
        <p>(Others Call Them "Extras")</p>
            
        <div class="features">
          {% for feature in features %}
          <div class="feature">
            <div class="icon"><img src="{{ icons_url }}/{{ feature.icon.filename }}.svg" alt="{{ feature.icon.alt }} Icon"></div>
            <div class="title">{{ feature.title }}</div>
            <div class="description">{{ feature.description }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {%
      set locations =
      [
        {
          'city': 'Amsterdam',
          'country': 'NL',
          'status': 'Online'
        },
        {
          'city': 'London',
          'country': 'GB',
          'status': 'Online'
        },
        {
          'city': 'New York',
          'country': 'US',
          'status': 'Online'
        },
        {
          'city': 'Phoenix',
          'country': 'US',
          'status': 'Online'
        }
      ]
    %}
        
    <section class="locations section">
      <div class="container">
        <h2>Available Locations</h2>
        <p>{% for location in locations %}{{ location.city }} {{ location.country }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
              
        <div class="location-map" style="background-image: url('{{ icons_url }}/world-map.svg');">
          <div class="locations">
            {% for location in locations %}
            <div class="location">
              <div class="spot"></div>

              <div class="info">
                <div class="name">
                  {{ location.city }}, {{ location.country }}
                </div>
                                  
                <div class="online">
                  {{ location.status }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    
    {%
      set faqs =
      [
        {
          'question': 'Is the VPS managed or unmanaged?',
          'answer': 'It is unmanaged. This means we are only responsibile for the hardware, network, and infrastructure. The software and data on the VPS is your responsibility.'
        },
        {
          'question': 'Do you offer a VPS backup service?',
          'answer': 'No, there is no backup service provided. We strongly encourage you to maintain your own backups for peace of mind and disaster recovery.'
        },
        {
          'question': 'What happens when I exceed my Data Transfer allowance?',
          'answer': 'Your service will continue running, and you will be billed for overages on your next monthly bill at £0.45 per GigaByte used.'
        },
        {
          'question': 'Can the VPS be upgraded or downgraded later?',
          'answer': 'Unfortunately not. We are looking into ways to make this possible, however, the only option available right now is to place an order for another VPS with the new specification, transfer everything over to the new VPS, and most likely cancel the original VPS order if you have no further use for it.'
        },
        {
          'question': 'How long does it take for a VPS order to get provisioned?',
          'answer': 'Deployment is normally complete within seconds of receipt of full payment. If it has been a while since order was placed and you still do not have your VPS, please get in touch and we shall look into it for you.'
        },
        {
          'question': 'Why Triple Replication over RAID?',
          'answer': 'We consider the data on our Premium VPS platform to be of utmost importance. The possibility of data loss is orders of magnitude lower than that of even a RAID Array, because to lose data, not only is a simultaneous failure of 3 drives needed (an extremely rare occurance where a RAID Array would lose data), it would need to be the 3 drives that store the same chunks of data as each other, across 3 physically separate servers.'
        }
      ]
    %}

    <section class="faqs section">
      <div class="container">
        <h2>Frequently Asked Questions</h2>
        <p>Click or tap on a question to get the answer.</p>

        <div class="faqs">
          {% for faq in faqs %}
            {% set id = 'faq_toggle_' + loop.index %}
            <div class="faq">
              <input type="checkbox" class="toggle" id="{{ id }}">

              <div class="question">
                <label for="{{ id }}">
                  {{ faq.question }}
                </label>
              </div>

              <div class="answer">
                {{ faq.answer }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include 'why.njk' %}
