---
title: Web Hosting
description: Keeping your website online and available worldwide. Get started today for just £1!
layout: "base.njk"
hero:
  class: 'webhosting'
  title: 'Web Hosting'
  description: 'Keeping your website online and availabile worldwide.'
  button:
    href: '#packages'
    text: 'View More'
  price:
    text: 'First Month'
    amount: '£1'
  promo_image:
    filename: 'hosting'
    alt: 'Hosting'
---

    {%
      set packages =
      [
        {
          'title': 'Personal',
          'description': 'Suitable for a Single Website',
          'promotion':
          {
            'price': '£1',
            'text': 'First Month',
            'code': 'FIRSTMONTH'
          },
          'price':
          {
            'amount': '£5.99',
            'frequency': 'month'
          },
          'cart_pid': '14',
          'specs':
          [
            {
              'value': '512 MB',
              'name': 'Web Space'
            },
            {
              'value': '1',
              'name': 'Website'
            },
            {
              'value': '1',
              'name': 'Email Account'
            },
            {
              'value': '1',
              'name': 'MySQL Database'
            }
          ]
        },
        {
          'title': 'Family',
          'description': 'Suitable for Multiple Websites',
          'promotion':
          {
            'price': '£1',
            'text': 'First Month',
            'code': 'FIRSTMONTH'
          },
          'price':
          {
            'amount': '£8.49',
            'frequency': 'month'
          },
          'cart_pid': '24',
          'specs':
          [
            {
              'value': '1280 MB',
              'name': 'Web Space'
            },
            {
              'value': '5',
              'name': 'Website'
            },
            {
              'value': '5',
              'name': 'Email Account'
            },
            {
              'value': '5',
              'name': 'MySQL Database'
            }
          ]
        },
        {
          'title': 'Business',
          'description': 'Suitable for a Bigger Website',
          'promotion':
          {
            'price': '£1',
            'text': 'First Month',
            'code': 'FIRSTMONTH'
          },
          'price':
          {
            'amount': '£12.99',
            'frequency': 'month'
          },
          'cart_pid': '15',
          'specs':
          [
            {
              'value': '2560 MB',
              'name': 'Web Space'
            },
            {
              'value': 'Unlimited',
              'name': 'Website'
            },
            {
              'value': 'Unlimited',
              'name': 'Email Account'
            },
            {
              'value': 'Unlimited',
              'name': 'MySQL Database'
            }
          ]
        }
      ]
    %}

    <section class="packages section">
      <div class="container">
        <a name="packages"></a>
        <h2>Packages</h2>
        <div class="packages">
          {% for package in packages %}
            <div class="package">
              <div class="title">{{ package.title }}</div>
              <div class="description">{{ package.description }}</div>
              
              <div class="promotion">
                <div class="price">{{ package.promotion.price }}</div>
                <div class="text">{{ package.promotion.text }}</div>
              </div>

              <div class="price">Then <b>{{ package.price.amount }}</b> per {{ package.price.frequency }}</div>

              <div class="button order">
                <a href="{{ client_url }}/cart.php?a=add&pid={{ package.cart_pid }}&promocode={{ package.promotion.code }}" target="_blank">Order Now</a>
              </div>

              <div class="specs">
                {% for spec in package.specs %}
                  <div class="spec">
                    <b>{{ spec.value }}</b> {{ spec.name }}
                  </div>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    
    {%
      set features =
      [
        {
          'icon': 'speed',
          'icon_alt': 'Speed',
          'title': 'Blazing Fast',
          'description': 'LiteSpeed Web Server and other technologies help your website load fast.'
        },
        {
          'icon': 'pound-coin',
          'icon_alt': 'Pound Coin',
          'title': 'Low Cost',
          'description': 'The great service you expect for less. Get started today for only £1!'
        },
        {
          'icon': 'cloud-servers',
          'icon_alt': 'Cloud Servers',
          'title': 'High Availability',
          'description': 'Fully redundant servers ensure your service remains online as much as possible.'
        },
        {
          'icon': 'cloud-computing-servers',
          'icon_alt': 'Cloud Computing Servers',
          'title': 'Triple Replicated',
          'description': 'A copy of your data is replicated across three physically separate servers, offering better protection against data loss versus RAID.'
        },
        {
          'icon': 'storage-backup',
          'icon_alt': 'Storage Backup',
          'title': 'Daily Off-Site Backups',
          'description': 'Your entire hosting account is backed up once every day and stored in a separate facility for peace of mind and disaster recovery.'
        },
        {
          'icon': 'dot-com',
          'icon_alt': '.com',
          'title': 'No Domain Required',
          'description': 'Free sub domain for use instead of your own domain.'
        },
        {
          'icon': 'wordpress',
          'icon_alt': 'WordPress',
          'title': 'Optimised for WordPress',
          'description': 'The LiteSpeed Cache plugin for WordPress optimises your site/blog so that the content loads fast.'
        },
        {
          'icon': 'open-box',
          'icon_alt': 'Open Box',
          'title': 'Quick Installer',
          'description': 'Get started quickly with common web apps using Softaculous.'
        }
      ]
    %}

    <section class="features section">
      <div class="container">
        <h2>Included Features</h2>
        <p>(Others Call Them "Extras")</p>

        <div class="features">
          {% for feature in features %}
            <div class="feature">
              <div class="icon"><img src="{{ icons_url }}/{{ feature.icon }}.svg" alt="{{ feature.icon_alt }} Icon"></div>
              <div class="title">{{ feature.title }}</div>
              <div class="description">{{ feature.description }}</div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {%
      set faqs =
      [
        {
          'question': 'Do you offer a backup service?',
          'answer': 'Yes we do. We take a backup of your web hosting account once every day and store it in a separate facility. You can restore from these backups at any time using the JetBackups section of your web hosting account.'
        },
        {
          'question': 'Do I need a website to use your web hostng service?',
          'answer': 'No you do not. Once your web hosting account has been provisioned, you can use our free website builder to build your own website easily, or you can use Softaculous to quickly install common web apps such as WordPress.'
        },
        {
          'question': 'Why Triple Replication over RAID?',
          'answer': 'We consider your data to be of utmost importance. The possibility of data loss is orders of magnitude lower than that of even a RAID Array, because to lose data, not only is a simultaneous failure of 3 drives needed (an extremely rare occurance where a RAID Array would lose data), it would need to be the 3 drives that store the same chunks of data as each other, across 3 physically separate servers.'
        }
      ]
    %}

    <section class="faqs section">
      <div class="container">
        <h2>Frequently Asked Questions</h2>
        <p>Click or tap on a question to get the answer.</p>

        <div class="faqs">
          {% for faq in faqs %}
            {% set id = 'faq_toggle_' + loop.index %}
            <div class="faq">
              <input type="checkbox" class="toggle" id="{{ id }}">

              <div class="question">
                <label for="{{ id }}">
                  {{ faq.question }}
                </label>
              </div>

              <div class="answer">
                {{ faq.answer }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>

    {% include 'why.njk' %}
